
.topbar {
    font-size: 0;
    line-height: 0;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    background-color: #151515;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 6;
}